<!-- index.html -->
{% extends 'base.html' %}
{% block content %}
<table id="data-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Current Chapter</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody id="data-table-body">
        <!-- The table rows will be added here dynamically using JavaScript -->
    </tbody>
</table>

<button id="refresh-button">Run Script</button>
<button id="add-button">Add Manga</button>

{% endblock %}

{% block script %}
<script>
    window.onload = function() {
        updateTable();
    }

    const refresh_btn = document.getElementById("refresh-button")
    refresh_btn.addEventListener("click", runScript);
    function runScript() {
        console.log("runScript has started.");
        // Send a POST request to the python script
        fetch("/update", { method: "POST" })
            .then(response => {
                // Update the table after a delay to allow the python script to finish running
                window.setTimeout(updateTable, 25000);
            })
            .catch(error => {
                // Handle any errors that occur
                console.error(error);
            });
    }

    const add_btn = document.getElementById("add-button")
    add_btn.addEventListener("click", addManga);
    function addManga() {
        console.log("Adding a new manga...");
        // Send a POST request to the python script
        fetch("/addManga", { method: "POST" })
            .then(response => {
                // Update the table after a delay to allow the python script to finish running
                window.setTimeout(updateTable, 25000);
            })
            .catch(error => {
                // Handle any errors that occur
                console.error(error);
            });
    }

    function updateTable() {
        // Read the JSON file and update the table
        fetch("/data", { method: "GET" })
            .then(response => response.json())
            .then(data => {
                // Get the body of the table
                const tableBody = document.getElementById("data-table-body");

                // Clear the table body
                tableBody.innerHTML = "";

                // Iterate through the list of objects in the JSON file
                const attributeOrder = ['title', 'current_chapter', 'last_updated'];
                                
                for (const obj of data) {
                    // Create a new row for the table
                    const row = document.createElement("tr");

                    // Iterate through the attributeOrder array
                    for (const attribute of attributeOrder) {
                        // Create a new cell
                        const cell = document.createElement("td");

                        // If the attribute is 'title', create a link to the URL
                        if (attribute === "title") {
                            const link = document.createElement("a");
                            link.href = obj.url;
                            link.innerText = obj[attribute];
                            cell.appendChild(link);
                        } else {
                            // Otherwise, just add the value of the attribute to the cell
                            cell.innerText = obj[attribute];
                        }

                        row.appendChild(cell);
                    }
                    // Add the row to the table body
                    tableBody.appendChild(row);
                }

            });
        }
</script>
{% endblock %}